{% extends 'base.html' %}

{%block title %}{{journal.title}}{% endblock %}

{% block content %}
<h1>{{ journal.title }}</h1>
<p>{{ journal.content }}</p>

<h2>Comments:</h2>
<ul>
    {% for comment in comments %}
    <li>{{ comment.content }} - ny {{comment.user }}</li>
    {% empty %}
    <li>No Comments yet.</li>
    {% endfor %}
</ul>

<h2>Leave a Comment:</h2>
<form method="post" action="{% url 'view_journal' journal.id%}">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit">Submit Comment</button>
</form>

<a href="{% url 'homepage' %}">Back to Homepage</a>
{% endblock %}