{% extends 'base.html' %}

{%block title %}{{journal.title}}{% endblock %}

{% block content %}
    <h2>{{ journal.title }}</h2>
    
    <p><strong>建立日期:</strong> {{ journal.last_updated }}</p>
    <p><strong>內容:</strong></p>
    <p>{{ journal.content }}</p>
    
    <hr>
    <h3>回應</h3>
    <ul>
        {% for comment in journal.comment_set.all %}
            <li>{{ comment.content }} - {{ comment.last_updated }}</li>
        {% empty %}
            <li>No comments available.</li>
        {% endfor %}
    </ul>



<a href="{% url 'homepage' %}">Back to Homepage</a>
{% endblock %}